{# app/Resources/views/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}

{% block body %}
	<div id="wrapper">
        <div id="container">
			{% if error %}
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<table style="margin: 0 auto ; padding-top: 20px ; text-align:center ;">
				<form action="{{ path('login_check') }}" method="post">
					<tr>
						<td>
							<label for="username">Username:</label>
						</td>
						<td>
							<input type="text" id="username" name="_username" value="{{ last_username }}" />
						</td>
					</tr>
					<tr>
						<td>
							<label for="password">Password:</label>
						</td>
						<td>
							<input type="password" id="password" name="_password" />
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button type="submit">Login</button>
						</td>
					</tr>
				</form>
			</table>
		</div>
	</div>
{% endblock%}

{% block stylesheets %}
<style>
    #wrapper { background: #FFF; margin: 0 auto; max-width: 1000px; width: 95%; }
    #container { padding: 2em; overflow: auto; }
</style>
{% endblock %}